<a href="{{ path('article_read',{'id':article.id}) }}">{{ article.titre }}</a>
- <a href="{{ path('article_edit',{'id':article.id}) }}">éditer</a>
- <a href="{{ path('article_delete',{'id':article.id}) }}">supprimer</a>