{% extends "::base.html.twig" %}

{% block body %}
<h2>Liste des articles</h2>

{% for article in articles %}
	{% if loop.first %}<ul>{% endif %}
	
		<li>{% include "HBBlogBundle:Article:articleDetails.html.twig" %}
		</li>
	
	{% if loop.last %}</ul>{% endif %}
{% else %}
	<p>Aucun article.</p>
{% endfor %}

<p><a href="{{ path('article_add') }}">Ajouter un article</a></p>

{% endblock %}