{% extends "::base.html.twig" %}

{% block body %}
<h2>Liste des articles</h2>

{% include "HBBlogBundle:Article:listArticles.html.twig" %}

<p><a href="{{ path('article_add') }}">Ajouter un article</a></p>

{% endblock %}